<!-- <h1 [class.gray]="h1Style">Home</h1> -->
<!-- <h1 [ngClass]="{'gray': h1Style, 'large': !h1Style}">Home</h1> -->
<!-- <h1 [ngStyle]="{'color': h1Style ? 'gray' : 'red'}">Home</h1> -->

<!-- <h1 [ngStyle]="{
  'color': h1Style ? 'gray' : 'black',
  'font-size': !h1Style ? '1em' : '4em'
}">Home</h1>
<button (click)="firstClick()">Button</button> -->
<ul *ngIf="users">
  <li *ngFor="let user of users.data">
    <img [src]="user.avatar" alt="avatar">
    <p>{{ user.first_name }} {{ user.last_name }}</p>
  </li>
</ul>